
<% @dojo_sessions.each do |session| %>
	<h2><%= session.title %></h2>
	<span class="claro" style="margin-left:20px"> 
		( <%= l session.date, :format=>"default" %>, <%= session.time %>, <%= session.place %> )
	</span>
<% end %>