
h2 {
	margin: 10px 5px;
}

input {
	font-size: 16px;
}

textarea {
	font-size: 16px;
}


label {
	font-size: 20px;
}

#container {
	width:700px;
	position:relative;
	margin:auto;
}

#logon_menu {
	text-align: right;
	margin-bottom:7px;
}

#header {
	height:150px;
	line-height:150px; /* alinha o titulo no meio do div, verticalmente */
	background: #ccc;
	text-align: center;
	font-size:50px;
	margin-bottom: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;

}

#header a {
	text-decoration:none;
	color: black;
}

#central {
	min-height: 500px ;
	background: #eee;
	padding:10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;

}

div.dojo_session {
	background: #ccc;
	margin-bottom: 10px;
	padding: 2px 13px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

div.dojo_session h3 {
	font-size:30px;
	margin: 10px 0;
}

div.dojo_session table tr td {
	padding: 10px;
}

div.dojo_session table tr td {
	vertical-align:text-top;
	text-align:justify;
}

.field_hint {
	color:#aaa;
}

.page_title {
	position:relative;
/*	left:20px;*/
	color:#999;
}

.small_link {
	font-size: small;
}