
a {
	color:#FF8800;
}

body {
	margin: 0;
	font-family: arial;
}

h2 {
	margin: 10px 5px;
}

input {
	font-size: 16px;
}

textarea {
	font-size: 16px;
}


label {
	font-size: 20px;
}

#container {
	width:700px;
	position:relative;
	margin:20px auto;
}

#logon_menu {
	text-align: right;
	background: #fc710b;
}

#logon_menu a {
	color:#fedfcd;
}

#header {
	height:140px;
	line-height:180px; /* alinha o titulo no meio do div, verticalmente */
	background: #fc710b;
	margin: 0;
	text-align: right;
}

#header a {
	text-decoration:none;
	color: #fedfcd;
	font-family: "Courier";
	font-size: 70px;
	position: relative;
	margin-right: 7%;
	z-index:10; 
}

#header img {
	position: relative; 
	float: left;
	height: 135;
	margin-top: 6px;
	margin-left: 20px;
}

#central {
	min-height: 500px ;
	padding:10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}


div.box {
	background: #fedfcd;
	padding: 10px 20px;
	margin-bottom: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

div.box h3 {
	font-size:30px;
	margin: 10px 0;
}


.page_title {
	position:relative;
/*	left:20px;*/
	color:#fc710b;
}

.small_link {
	font-size: small;
}

.claro {
	color: #ff7700;
}

.link_northeast {
	position: relative;
	float: right;
	margin-top: 20px;
}