
<div class="box" style="width:400px; margin:auto">

	<h1>All Users</h1>

	<% for user in @users do %>
	
		<%= image_tag(gravatarUrlFor(user.email)) %>
		<%= user.name_or_username %>
	
	<% end %>

</div>