
<div class="box" id="next_sessions">
	
	<h2>Próximas sessões</h2>

	<% unless @dojo_sessions.empty? %>

		<ul>

			<% for dojo_session in @dojo_sessions do %>

					<li>
					
						<strong><%= dojo_session.title %></strong><br/>
					
						<span class="claro" style="font-size: small; margin:20px"> 
							(<%= l dojo_session.date, :format=>"pretty" %>)
						</span>
			
					</li>
					
			<% end %>
		
		</ul>

		<%= link_to("mais detalhes >>", dojo_sessions_path) %>

	<% else %>
		<p>Nenhuma sessão proposta no momento.</p>
	<% end %>
	
</div>