
<h2 class="page_title"> Next sessions </h2>

<% unless @dojo_sessions.empty? %>

	<% for dojo_session in @dojo_sessions do %>

		<%= render :partial=> "dojo_session", :object=>dojo_session %>
	
	<% end %>

<% else %>
	<p>No proposed sessions at this moment</p>
<% end %>

<% if logged_in? && current_user.has_propose_priv? %>
	<div style="text-align:right; margin-right:10px">
		<%= link_to "Propose a new session", new_dojo_session_path %>
	</div>
<% end%>

<%= link_to '<< Back', root_path %>
