<html>

	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<%= stylesheet_link_tag "public" %>
	</head>

	<body>

		<div id="container">

			<div id="logon_menu">
				<% if logged_in? %>
					<span style="color:#aaa">Bem vindo, </span> <%= current_user.username %> /
					<a href="/logout">Log out</a>
				<% else %>
					<a href="/login">Log in</a>
				<% end %>
			</div>

			<div id="header">
				Nome do Dojo
			</div>

			<div id="central">

				<%= yield %>

			</div>

		</div>


	</body>
</html>